@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.main{
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(0deg, rgb(42, 42, 42),rgb(222, 155, 155),rgb(228, 132, 132),rgb(201, 57, 57));
}

.App {
  display: grid;
  grid-template-columns: 500px 500px ;
  grid-template-rows: 100px 100px;
}
.name{
  font-size: 80px;
  font-family: 'Abril Fatface', cursive;
  margin-left: -200px;
  margin-top: 50px;
  color: transparent;
  letter-spacing: 5px;
}
.name::before{
  content: attr(data-text);
  position: absolute;
  color: rgb(0, 0, 0) ;
  width: 0;
  height: 100%;
  height: min-content;
  -webkit-text-stroke: 1px #B42930;
  border-right: 4px solid #B42930;
  overflow: hidden;
  animation: anim 6s linear infinite;
}

.address{
  padding-left: 80px;
  margin-top: -40px;
  font-family: 'Satisfy', cursive;
  border-bottom: 2px solid #B42930;
}
@keyframes anim {
  0%,10% {
    width: 0;
  }
  70%,90% {
    width: 500px;
  }
}
